/*Colors:

Main color: 8e44ad
Almost black hue: 200f27
Lighter: ac6fc6
super light: d6b8e3
Darker color: 522764

mainContent Color: f9f5fb
*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #200f27;
    font-family: 'Abel', sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 20px;
}


/*******************************/
/**********Reusables***********/
/*****************************/

.flyOut{
    animation-name: flyOutAnim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.hidden{
    display: none;
}

.blur_4px{
    filter:blur(4px);
}


/*******************************/
/**********LandingPage*********/
/*****************************/

#heroPanel,
#heroImg{

    width: 50% !important;
    /*height: 200px !important;*/
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 35vh;
    position: fixed;
    transition: all 0.4ms;
    user-select: none;
    border-radius: 5px;
    height: 300px;
}

#heroPanel:hover,
#heroImg:hover{
    /*position: relative;*/
    /*height: 300px;*/
}

#heroPanel p{
    margin-bottom: 20px;
}

#heroCTA{
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    background: transparent;
    border: 2px solid rgb(172,111,198);
    width: 200px;
    height: 50px;
    padding-top: 10px;
    letter-spacing: 3px;
    filter:blur(1px);
    transition: background-color 0.4s ease-in-out, filter 0.4s ease;
}

#heroCTA a{
    text-decoration: none;
    color: white;
    display: inline-block;
}

#heroCTA a:hover,
#heroCTA a:active{
    /*text-decoration: none;*/
}


@keyframes flyOutAnim{
    to{
       transform: translate(0%,-500%);
        /*position: fixed;*/
    }
}

#heroCTA:hover,
#heroCTA:active{
    filter: none;
    background-color: rgba(214,184,227,0.4);
}

#heroPanel{

    background-color: rgba(142,68,173,0.2) !important;
    color: white !important;
    z-index: 9999;
    /*position: absolute !important;*/
    /*box-shadow:1px 2px black;*/
}

#heroImg{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("/resources/img/heroImgSmall.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(0.8px);
    z-index: 1;
}

#particles-js{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#heroPanel #heroText{
    font-size: 400% !important;
    letter-spacing: 20px;
    padding-top: 50px;
    display: block;
    color: white;
    text-align: center;
    animation-name: kronoFireShadows;
    animation-duration: 2s;
    /*animation-iteration-count: infinite;*/
    /*animation-direction: reverse;*/
    text-shadow: 5px 2px 1px rgba(255,255,255,0.3);
}

@keyframes kronoFireShadows {
    /*10%{*/
        /*text-shadow: 5px 2px 2px rgba(255,255,255,0.3);*/
    /*}*/
    /*40%{*/
        /*text-shadow: 5px 2px 3px rgba(255,255,255,0.3);*/
    /*}*/
    /*60%{*/
        /*text-shadow: 5px 2px 4px rgba(255,255,255,0.3);*/
    /*}*/
    /*80%{*/
        /*text-shadow: 5px 2px 3px rgba(255,255,255,0.3);*/
    /*}*/
    /*100%{*/
        /*text-shadow: 5px 2px 2px rgba(255,255,255,0.3);*/
        /*color: black;*/
    /*}*/
    from{
        text-shadow: 5px 2px 2px rgba(255,255,255,0.3);
        color: black;
    }
    to{
        text-shadow: 5px 2px 1px rgba(255,255,255,0.3);
        color: white;
    }
}

#heroPanel #heroDescription{
    text-align: center;
}

.descriptionPieceHidden{
    display: none;
}

.descriptionPieceShown{
    display: inline;
    animation-name: pieceAnim;
    animation-duration: 2s;
    margin-right: 2px;
}
@keyframes pieceAnim {
    from{
        color:black;
        filter: blur(20px);
    }
    to{
        color: white;
    }
}

.particles-js-canvas-el{
    position: fixed;
    /*z-index: 0;*/
}



#content{
    margin: 0 auto;
    position: absolute;
    padding: 0;
    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
    width: 100%;
    height: 100%;
    z-index: 9999;

}

/*****************************/
/**********MainPage*******/
/*****************************/


#mainContent{


    position: absolute;
    padding: 0;
    margin:0 auto;
    width: 100vw;
    height: 100vh;
    /*width: 400px;*/
    /*height: 400px;*/
    background-color: rgb(249,245,251);
    background-image: url("../resources/img/welders.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 9990;
    filter: blur(5px);
    /*position: fixed;*/
}

#siteStatus p{
    font-size: 4em;
    text-rendering: optimizeLegibility;
    color: whitesmoke;
    text-shadow: 0px 2px 8px rgba(0,0,0,0.8);
    margin: 0 auto;
    text-align: center;
}

.container{
    margin: 0 auto;
    border: 3px yellow;
    justify-content: center;
}
#siteStatus{
    position: relative;
    margin: 0 auto;
    margin-top: 40vh;
    z-index: 9999;
    text-align: center;
    align-content: center;
    border: 4px red;
}

